:root {
    --text-blue: hsl(238, 29%, 16%);
    --text-red: hsl(14, 88%, 65%);
    --text-dark-gray-blue: hsl(237, 12%, 33%);
    --text-gray-blue: hsl(240, 6%, 50%);
    --grandient-violet: hsl(273, 75%, 66%);
    --grandient-blue: hsl(240, 73%, 65%);
    --dividers-gray: hsl(240, 5%, 91%);
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: var(--text-gray-blue);
    font-size: 12px;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

.grandient {
    background-image: linear-gradient(var(--grandient-violet), var(--grandient-blue));
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-box {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width: 800px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
}

.question-box_p {
    display: none;
}